$text-clr-main: rgb(203 213 225);
$fav-card-box-shadow: rgb(127 131 248 / 40%) 5px 5px, rgba(103, 108, 248, 0.3) 7px 7px,
  rgba(68, 80, 211, 0.2) 10px 10px;
$map-popup-clr: rgb(23 37 84);

//BREAKPOINTS

$breakpoints: (
  xsmall: 22em,
  small: 36em,
  medium: 48em,
  large: 62em,
  xlarge: 75em,
  xxlarge: 93em,
);
