@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
  font-family: 'Secular One', sans-serif;
}

.sunrise {
  background-image: url('./assets/sunrise.jpg');
  background-size: cover;
}

.sunset {
  background: url('./assets/sunset.jpg') no-repeat;
  background-size: cover;
}

.overlay {
  background-color: rgba(251, 155, 0, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
